<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223888866918-rq5qv32ti7vqkop6jobi97dojk5ttmlv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223888866918-rq5qv32ti7vqkop6jobi97dojk5ttmlv</string>
	<key>API_KEY</key>
	<string>AIzaSyC0LABwzES2Num2Qtk46mEfPZPiqf873nE</string>
	<key>GCM_SENDER_ID</key>
	<string>223888866918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stantraub.FireChat</string>
	<key>PROJECT_ID</key>
	<string>firechat-5a7d9</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-5a7d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223888866918:ios:c998302be652e18dcab7a7</string>
	<key>DATABASE_URL</key>
	<string>https://firechat-5a7d9.firebaseio.com</string>
</dict>
</plist>